* {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat";
	font-size: 25px;
	margin: 0;
}


.box {
	width: 80%;
	margin: auto;
}

.container {
	background-color: #397367;
	color: #eee;
	width: 80%;
	margin: auto;
	padding: 60px;
	border-top: 15px solid #35393C;
	border-left: 15px solid #35393C;
	border-right: 15px solid #35393C;
	border-bottom: 15px solid #35393C;
}

.main-aside h2 {
	text-align: center;
}
.main-aside h2:hover {
	color: #397367;
	cursor: pointer;
}

.main-aside ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.main-aside ul a {
	text-decoration: none;
	color: black;
}

.main-aside ul a:hover {
	color: #42858C;
}

.main-aside ul a:visited {
	color: #397367;
}



.relative {
	margin: auto;
	padding: 60px;
	color: #eee ;
	background-color: #397367;
	font-size: 12px;
	position: relative;
	border: 3px solid #35393C;
	height: 130px;
	border-radius: 7px;
}

.relative .absolute {
	position: absolute;
	bottom: 0;
}

.relative .absolute h1 {
	margin: 0;
}

/* Barra de navegação */
#main-navbar {
	background: #333;
	color: #eee;
	padding: 15px;
	text-align: center;
	margin-bottom: 10px;
	position: sticky;
	top: 0;
}
